<div>
<form (submit)="buscarPokemon()">
  <div>
    <label class="label-pokemon">Inserte el nombre del Pokémon</label>
        <input
          type="text"
          [(ngModel)]="nombrePokemonInput" 
          name="nombrePokemon"
          placeholder="Ej. Pikachu ,Charizard, Bulbasaur"
          required />
  </div>

  <div>
    <button class="btn-buscar" type="submit" [disabled]="cargando()"> {{ cargando() ? 'Escaneando...' : 'Buscar' }}</button>
  </div>

</form>
</div>

@if(mensajeError()){
    <p class="error">{{ mensajeError() }}</p>
}

@if  (pokemon(); as poke) {
  <div appResaltarTarjeta colorBorde="#c48a43" class="card-pokemon">
    <img [src]="poke.image" [alt]="'Imagen de ' + poke.name">
    <h3>{{ poke.name }}</h3>
    <p class="pokemon-number">Pokémon #{{ poke.id }}</p>
    <p>
      Tipo:
      <span class="badge-tipo" [ngClass]="'type-' + poke.type">

        {{ poke.type }}

      </span>
    </p>
      <p>Experiencia Base : <strong>{{ poke.base_experience }}</strong></p>
        <button class="btn-guardar" (click)="guardarEnEquipo()">
          Almacenar en inventario
        </button>

  
  </div>
};
