<div>
<form (submit)="buscarPokemon()">
  <div>
    <label>Inserte el nombre del Pokémon:</label>
        <input
          type="text"
          [(ngModel)]="nombrePokemonInput" 
          name="nombrePokemon"
          placeholder="Ej. Pikachu ,Charizard, Bulbasaur"
          required />
  </div>

  <div>
     <button type="submit" [disabled]="cargando()"> {{ cargando() ? 'Escaneando...' : 'Buscar' }}</button>
  </div>

</form>
</div>

@if(mensajeError()){
    <p class="error">{{ mensajeError() }}</p>
}

@if  (pokemon(); as poke) {
  <div appResaltarTarjeta colorBorde="#c48a43" class="card-pokemon">
    <img [src]="poke.image" [alt]="'Imagen de ' + poke.name">
    <h3>{{ poke.name }}</h3>
    <p class="pokemon-number">Pokémon #{{ poke.id }}</p>
    <p>
      Tipo:
      <span class="badge-tipo" [ngStyle]="{'background-color': poke.type === 'fire' ? '#c7473b' :
                poke.type === 'water' ? '#4d8290' :
                            poke.type === 'grass' ? '#557c55' : '#718078'}">

        {{ poke.type }}

      </span>
    </p>
      <p>Exp. Base : <strong>{{ poke.base_experience }}</strong></p>
        <button class="btn-guardar" (click)="guardarEnEquipo()">
          Almacenar en inventario
        </button>

  
  </div>
};
